$main-color : #FF7766;
$costom-color : #EEE;

@font-face {
    font-family: 'Cairo-Regular';
    src: url('../fonts/Cairo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'Cairo-Regular', sans-serif !important;
    font-size: 16px;
    line-height: 1.6;
}
.top-menu {
    .navbar{
        font-weight: bold;
        padding: 0 10px !important;
        background-color: #fff !important;
        .navbar-nav {
            
            li > a {
                    color: #8a8a8a;
                    transition: 0.5s all ease;
                    &:hover {
                        color: $main-color !important;
                        background-color: $costom-color !important;
                        border-bottom: 1px solid $main-color !important;
                    }
                   }
            }
    }
}
.carrousel-top {
    .row {
        display: block !important;
        .carousel {
            .carousel-inner {
                .carousel-item {
                    img {
                        height: 450px ;
                    }
                    .overlay {
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 100%;
                        height: 100%;
                        background-color: rgba(65, 155, 155, 0.5);
                        color: #fff;
                        display: flex !important;
                        justify-content: center;
                        align-items: center;
                    }
                }
        }
        .carousel-indicators {
            li {
                height: 20px;
                width: 20px;
                border-radius: 50%;
                margin: 20px 5px 0 0;

                &.active {
                    background-color: $main-color;
                }
            }
        }
        }
    }



}
@media (max-width: 991px) {
    .top-menu {
      .navbar {
        padding: 0px !important;
      }
    }
}